@{
    ViewBag.Title = "About";
}
<section class="w3l-feature-1">
    <div class="feature-1sec py-5">
        <div class="container py-lg-5">
            <div class="feature-1-content">
                <img src="~/assets/images/banner2.jpg" class="img-fluid" alt="" />
                <h3 class="hny-title mt-4">Welcome to Our Gaur Dentist</h3>
                <p class="mt-2"> It was established in 1996 by Dr. Jacky Lam. We are a team of highly qualified and experienced professionals who are committed to understanding their patient’s current and future needs. Our services are delivered in conjunction with the use of sophisticated hi-tech dental equipment, materials, technology and ongoing support.</p>

            </div>
        </div>
    </div>
</section>
<!-- //feature1 -->
<section class="w3l-content-4">
    <!-- /content-6-section -->
    <div class="content-4-main py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="content-right col-lg-6 pl-lg-4">
                    <div class="row content4-right-grids mb-lg-5 mb-4">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-linode"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info">
                            <h6><a href="#">Annual Check-ups</a></h6>

                        </div>

                    </div>
                    <div class="row content4-right-grids mb-lg-5 mb-4">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-heartbeat"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info">
                            <h6>
                                <a href="#">
                                    Work with Hearts
                                </a>
                            </h6>

                        </div>

                    </div>
                    <div class="row content4-right-grids mb-lg-5 mb-4">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-handshake-o"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info">
                            <h6>
                                <a href="#">
                                    Help at Hand
                                </a>
                            </h6>

                        </div>

                    </div>
                </div>
                <div class="content-left col-lg-6 pl-lg-4">
                    <h6 class="sub-title">
                        Who we are
                    </h6>
                    <h3 class="hny-title">
                        Why Choose Us
                    </h3>
                    <p>We are dedicated to provide excellence in all areas of general and cosmetic dentistry. We are specialized in a wide range of services including: implants, bridges an crowns, dentures, minor oral surgery, root canal treatment, extractions, restorative, preventative and cosmetic dentistry.</p>
                    <img src="~/assets/images/ab2.jpg" class="img-fluid mt-3" alt="">
                </div>


            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->
