@{
    ViewBag.Title = "Contact";
}


<!-- /contact-form -->
<section class="w3l-contact-main">
    <div class="contant11-top-bg py-5">
        <div class="container py-md-5">
            <div class="row contact-info-left text-center">
                <div class="col-lg-4 col-md-6 contact-info">
                    <div class="contact-gd">
                        <span class="fa fa-location-arrow" aria-hidden="true"></span>
                        <h4>Address</h4>
                        <p>4885 Pretty View Lane, Auckland, NZ</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 contact-info">
                    <div class="contact-gd">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        <h4>Phone</h4>
                        <p><a href="tel:+44 7834 857829">+64 7834 857829</a></p>
                        <p><a href="tel:+44 987 654 321">+64 987 654 321</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 contact-info">
                    <div class="contact-gd">
                        <span class="fa fa-envelope-open-o" aria-hidden="true"></span>
                        <h4>Mail</h4>
                        <p><a href="#" class="email">gaurdentist@gmail.com</a></p>

                    </div>
                </div>
            </div>
        </div>
</section>
<!-- //contact-form -->
<!-- /contact-form -->
<section class="w3l-contact-main">
    <div class="contact-infhny py-5">
        <div class="container py-lg-5">
            <div class="title-content text-left mb-lg-5 mt-4">
                <h6 class="sub-title">Contact Us</h6>
                <h3 class="hny-title">Drop your message for any info <br>or question.</h3>
            </div>
            <div class="row align-form-map">
                <div class="col-lg-6 form-inner-cont">
                    <form action="askQuery" method="post" class="signin-form">
                        <div class="form-input">
                            <label for="w3lName">Name*</label>
                            <input type="text" name="Name" id="w3lName" placeholder="" />
                        </div>
                        <div class="form-input">
                            <label for="w3lSender">Contact*</label>
                            <input type="number" name="Phone" id="w3lSender" placeholder="" required="" />
                        </div>

                        <div class="form-input">
                            <label for="w3lMessage">Message*</label>
                            <textarea placeholder="" name="Message" id="w3lMessage" required=""></textarea>
                        </div>

                        <button type="submit" class="btn btn-contact">Submit</button>

                    </form>
                </div>
                <div class="map col-lg-6 pl-lg-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25275416.695431955!2d157.30049420428838!3d-39.34767545108817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d2c200e17779687%3A0xb1d618e2756a4733!2sNew%20Zealand!5e0!3m2!1sen!2sin!4v1600611067638!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
</section>
