@{
    ViewBag.Title = "Home Page";
}
<!-- /content-6-->
<section class="w3l-content-6">
    <!-- /content-6-main-->
    <div class="content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="title-content text-left mb-4">
                <h6 class="sub-title">About Us</h6>
                <h3 class="hny-title">Welcome to our Dentile</h3>
            </div>
            <div class="content-info-in row">
                <div class="content-gd col-lg-6 pl-lg-4">
                    <p>
                        we have been supporting our community for the past 24 years. Over level 3 and level 4, we have provided over 2000 free online consultations and free prescriptions for pain relief.

                        We understand how tooth pain or discomfort can affect your quality of life. That is why during level 2, we will be open 7 days a week with free examinations both online and in the clinic (excluding x-rays).

                        We listen and we care about the health of our community. We welcome all new and existing patients to join the Smile Dental family. Thank you all so much for the support and kind words we have received over the past month.
                    </p>
                </div>
                <div class="content-gd col-lg-6 pl-lg-4 pl-lg-4">
                    <p>As medical professionals, it is our privilege to look after our patients through the best and worst of times. Click on the “Book an Appointment” button to request an appointment.</p>
                </div>

            </div>
        </div>
</section>
<!-- //content-6-->
<!-- services block3 -->
<div class="w3l-open-block-services py-5">
    <div class="container py-lg-5 pt-4">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="icon-holder">
                        <span class="fa fa-signal service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Open 7 Days</h4>
                    <div class="open-description">
                        <p>We open on the weekend and have extended our opening hours for your convenience! Saturday, Sunday and late-night appointments, are availabl</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-md-0 mt-5 pt-md-0 pt-3">
                <div class="card text-center">
                    <div class="icon-holder">
                        <span class="fa fa-assistive-listening-systems service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">
                        Free Dental Exam &
                        WINZ Quotes
                    </h4>
                    <div class="open-description">
                        <p>At Smile Dental, we carry out a free extensive dental exam (Excluding X-rays ) and WINZ quotes.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 pt-lg-0 pt-3">
                <div class="card text-center">
                    <div class="icon-holder">
                        <span class="fa fa-diamond service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Dental Crowns</h4>
                    <div class="open-description">
                        <p>Available here</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 pt-lg-0 pt-3">
                <div class="card text-center">
                    <div class="icon-holder">
                        <span class="fa fa-magic service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Teeth Whitening</h4>
                    <div class="open-description">
                        <p>This service Available here</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //services block3 -->
<!-- /w3l-content-with-photo-4-->
<section class="w3l-content-with-photo-4">
    <!-- /content-grids-->
    <div class="content-photo-info py-5">
        <div class="container py-lg-5">
            <!-- /row-->
            <div class="content-photo-grids row">

                <div class="photo-6-inf-right col-lg-6 text-left pr-lg-5 mb-lg-0 mb-4">
                    <h6 class="sub-title">We care your smile</h6>
                    <h3 class="hny-title">
                        Dental Health Services
                    </h3>
                    <div class="servehny-1 mt-4">
                        <div class="ser-sub">
                            <a href="#link" class="ser1">
                                <span class="fa fa-check"></span> Family & general
                                dentistry
                            </a>
                            <a href="#link" class="ser1">
                                <span class="fa fa-check"></span> Implant dentistry
                            </a>
                            <a href="#link" class="ser1">
                                <span class="fa fa-check"></span> Cosmetic dentistry
                            </a>
                            <a href="#link" class="ser1">
                                <span class="fa fa-check"></span> Using Best Quality
                                tools.
                            </a>
                        </div>
                        <div class="ser-sub">
                            <a href="#link" class="ser1">
                                <span class="fa fa-check"></span> Emergency dental services
                            </a>
                            <a href="#link" class="ser1"><span class="fa fa-check"></span> Cosmetic dentistry</a>

                            <a href="#link" class="ser1"><span class="fa fa-check"></span> Teeth whitening</a>
                        </div>
                    </div>

                </div>
                <div class="photo-6-inf-left col-lg-6 pr-lg-4">
                    <a href="#"><img src="~/assets/images/g1.jpg" class="img-fluid" alt=""></a>
                </div>
            </div>
            <!-- //row-->
        </div>
    </div>
</section>
<!-- /w3l-content-with-photo-4-->
<!-- /specification-6-->
<section class="w3l-specification-6">
    <div class="specification-6-mian py-5">
        <div class="container py-lg-5">
            <div class="row story-6-grids text-left">
                <div class="col-lg-5 story-gd">
                    <img src="~/assets/images/ab1.jpg" class="img-fluid" alt="/">
                </div>
                <div class="col-lg-7 story-gd pl-lg-4">
                    <div class="title-content text-left mb-lg-5 mt-4">
                        <h6 class="sub-title">For a New smile</h6>
                        <h3 class="hny-title">Caring Technologies For Your Dental Health</h3>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->
<!--/testimonials-->
