
@{
    ViewBag.Title = "SiteLogin";
}

<!-- /Login for admin  -->

<section class="w3l-contact-main">
    <div class="contact-infhny py-5">
        <div class="container py-lg-5">
            <div class="title-content text-left mb-lg-5 mt-4">
                <h6 class="sub-title">Site Area </h6>
                <h3 class="hny-title">Admin Login </h3>
            </div>
            <div class="row align-form-map">
                <div class="col-lg-6 form-inner-cont">
                    <form action="checkLogin" method="post" class="signin-form">
                        <div class="form-input">
                            <label for="w3lName">Name*</label>
                            <input type="text" name="Name" id="w3lName" placeholder="" />
                        </div>
                        <div class="form-input">
                            <label for="w3lSender">Password*</label>
                            <input type="password" name="Password" id="w3lSender" placeholder="" required="" />
                        </div>

                       
                        <button type="submit" class="btn btn-contact">Submit</button>

                    </form>
                </div>
                <div class="map col-lg-6 pl-lg-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25275416.695431955!2d157.30049420428838!3d-39.34767545108817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d2c200e17779687%3A0xb1d618e2756a4733!2sNew%20Zealand!5e0!3m2!1sen!2sin!4v1600611067638!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
</section>
